body {
    margin: 0;
    padding: 0;
    font-family: 'BadMofo', Arial, sans-serif;
    height: 100vh;
    background: rgba(107, 106, 106, 0.384); /* Original gradient */
    color: #a9d6e1; /* Original text color */
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}


@font-face {
    font-family: 'BadMofo';
    src: url('fonts/BadMofo.ttf') format('truetype'); /* Adjust path if needed */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
  }

.marquee-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.marquee {
    white-space: nowrap;
    font-weight: bold;
    font-family: 'BadMofo'; /* Use the new font */
}


.marquee-div.marquee-left {
    position: absolute;
    top: 30%;
    width: 100%;
    font-size: 11vw;
    animation: move-right-to-left linear 30s infinite;
}

.marquee-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000008; /* Original text color */
}

/* Pause the marquee animation on hover */
.marquee-div:hover {
    animation-play-state: paused;
}

.marquee-div.marquee-right {
    position: absolute;
    top: 51%;
    width: 100%;
    font-size: 2vw;
    color: #4a4a4adc; /* Original text color */
    animation: move-left-to-right linear 30s infinite;
}

@keyframes move-right-to-left {
    from { transform: translateX(0); }
    to { transform: translateX(-500%); }
}

@keyframes move-left-to-right {
    from { transform: translateX(-1000%); }
    to { transform: translateX(0); }
}

.bottom-center-text {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.6vw;
    color: #9d9ba3; /* Match existing text color */
    font-weight: bold;
    font-family: 'Minecraft', Arial, sans-serif; /* Use the new font */
}

/* Style the image container for absolute positioning */
.image-container {
    position: absolute;
    top: 6%; /* Position the image just above the bottom-center-text */
    left: 4%;
}

/* Style the image itself */
.custom-image {
    width: 150px;   /* Adjust the size as needed */
    height: auto;   /* Maintain aspect ratio */
}
